.header {
  background-color: #0075fe;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logoContainer {
  flex-grow: 1;
}

.logo {
  margin: 0;
}

.actions {
  display: flex;
  align-items: center;
}

.loginLink {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.startButton {
  background-color: #353535;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
}
